<div class="flex flex-col w-full">

    <div class="relative flex items-center justify-between w-full p-6">
        <h2 class="text-2xl font-medium tracking-tight leading-7">tarefa</h2>

        <div class="flex items-center justify-end">
            <div class="flex cursor-pointer items-center ml-2 btn-close" [matTooltip]="'Fechar'" [routerLink]="['../']">
                <span class="font-medium mr-1">fechar</span>
            </div>
        </div>
    </div>

    <div class="px-6">
        <div *ngIf="errorMessage" class="bg-red-100 px-4 py-3 rounded text-red-600 text-sm">
            {{errorMessage}}
        </div>
    </div>

    <form [formGroup]="taskForm" class="p-6">
        <mat-form-field class="flex-auto w-full" appearance="outline">
            <mat-label>Nome do responsável</mat-label>
            <input matInput [autocomplete]="'off'" [formControlName]="'responsibleName'">
        </mat-form-field>

        <mat-form-field class="flex-auto w-full" appearance="outline">
            <mat-label>E-mail do responsável</mat-label>
            <input matInput [type]="'email'" [autocomplete]="'off'" [formControlName]="'responsibleEmail'">
        </mat-form-field>

        <mat-form-field class="flex-auto w-full" appearance="outline">
            <mat-label>Descrição</mat-label>
            <textarea matInput placeholder="Começe a digitar..." [formControlName]="'description'"></textarea>
        </mat-form-field>

        <button *ngIf="!task || task && !task.completed" (click)="onSubmit()" class="bg-green-500 hover:bg-green-700 text-white text-sm font-bold py-2 px-4 rounded">
            <span *ngIf="!saving">salvar</span>
            <span *ngIf="saving">salvando...</span>
        </button>
    </form>

</div>
