/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/tailwindcss/base.css';
@import '../../node_modules/tailwindcss/components.css';
@import '../../node_modules/tailwindcss/utilities.css';

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0,0,0,.2);
}

.mat-form-field {
    .mat-input-element {
        font-size: .92rem;
    }
}

.cdk-overlay-container {
    .cdk-overlay-pane {
        min-width: 30rem;
    }
}
