<div class="p-6">
    <div *ngIf="errorMessage" class="bg-red-100 px-4 py-3 mb-4 rounded text-red-600 text-sm">
        {{errorMessage}}
    </div>

    <div>
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Senha do supervisor
        </label>
        <input [(ngModel)]="password" class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password">
    </div>

    <button (click)="onSubmit()" class="bg-green-500 w-full hover:bg-green-700 text-white text-sm font-bold py-2 px-4 rounded">
        verificar
    </button>
</div>
