<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <mat-drawer
            class="w-full sm:w-4/12"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <div class="flex flex-col flex-auto">

                <div class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between py-4 px-6 md:px-8">
                    <div>
                        <div class="text-2xl font-medium tracking-tight leading-none">To-do</div>
                    </div>
                    <div class="mt-4 sm:mt-0">
                        <button *ngIf="tasksCount.incomplete === 0" class="bg-green-500 hover:bg-green-700 text-white text-sm font-bold py-2 px-4 rounded mr-3">
                            Estou sem tarefas
                        </button>

                        <button class="bg-green-500 hover:bg-green-700 text-white text-sm font-bold py-2 px-4 rounded" [routerLink]="['/tasks/add']">
                            Add Tarefa
                        </button>
                    </div>
                </div>

                <section class="pt-10">
                    <div class="w-2/6 sm:w-4/6 mx-auto py-6">
                        <h3 class="py-4 font-medium">Pendentes</h3>

                        <div *ngFor="let task of tasks" (dblclick)="goToTask(task.id)" class="flex items-center shadow p-6 mb-3 rounded" [ngClass]="{'hidden': task.completed}">
                            <div class="mx-1 cursor-pointer leading-none" (click)="toggleCompleted(task)">
                                <div *ngIf="!task.completed" class="h-5 w-5 hover:border-green-500 border-2 border-gray-400 rounded-full"></div>
                            </div>

                            <span class="ml-4 text-sm">{{task.description}}</span>
                        </div>
                    </div>
                </section>

                <section class="pt-10">
                    <div class="w-2/6 sm:w-4/6 mx-auto py-6">
                        <h3 class="py-4 font-medium">Concluídas</h3>

                        <div *ngFor="let task of tasks" (dblclick)="goToTask(task.id)" class="flex items-center shadow p-6 mb-3 bg-gray-100 rounded" [ngClass]="{'hidden': !task.completed}">
                            <div class="mx-1 cursor-pointer leading-none" (click)="toggleCompleted(task)">
                                <div *ngIf="!task.completed" class="h-5 w-5 hover:border-green-500 border-2 border-gray-400 rounded-full"></div>
                                <div *ngIf="task.completed" class="h-5 w-5 relative border-2 border-gray-400 rounded-full">
                                    <mat-icon class="icon-size-3 ml-0.5 mt-0.5 text-green-500" [svgIcon]="'awesome_solid:check'"></mat-icon>
                                </div>
                            </div>

                            <span class="ml-4 text-sm line-through text-gray-400">{{task.description}}</span>
                        </div>
                    </div>
                </section>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>
</div>
